=begin
#CircleCI API

#This describes the resources that make up the CircleCI API v2.  # Authentication  <!-- ReDoc-Inject: <security-definitions> -->

OpenAPI spec version: v2

Generated by: https://github.com/swagger-api/swagger-codegen.git
Swagger Codegen version: 3.0.34
=end

module CircleCi
  class InsightsApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Get all branches for a project
    # Get a list of all branches for a specified project. The list will only contain branches currently available within Insights.
    # @param project_slug Project slug in the form &#x60;vcs-slug/org-name/repo-name&#x60;. The &#x60;/&#x60; characters may be URL-escaped.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :workflow_name The name of a workflow. If not passed we will scope the API call to the project.
    # @return [nil]
    def get_all_insights_branches(project_slug, opts = {})
      get_all_insights_branches_with_http_info(project_slug, opts)
      nil
    end

    # Get all branches for a project
    # Get a list of all branches for a specified project. The list will only contain branches currently available within Insights.
    # @param project_slug Project slug in the form &#x60;vcs-slug/org-name/repo-name&#x60;. The &#x60;/&#x60; characters may be URL-escaped.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :workflow_name The name of a workflow. If not passed we will scope the API call to the project.
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def get_all_insights_branches_with_http_info(project_slug, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: InsightsApi.get_all_insights_branches ...'
      end
      # verify the required parameter 'project_slug' is set
      if @api_client.config.client_side_validation && project_slug.nil?
        fail ArgumentError, "Missing the required parameter 'project_slug' when calling InsightsApi.get_all_insights_branches"
      end
      # resource path
      local_var_path = '/insights/{project-slug}/branches'.sub('{' + 'project-slug' + '}', project_slug.to_s)

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'workflow-name'] = opts[:'workflow_name'] if !opts[:'workflow_name'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:body] 

      return_type = opts[:return_type] 

      auth_names = opts[:auth_names] || ['api_key_header', 'api_key_query', 'basic_auth']
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type)

      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: InsightsApi#get_all_insights_branches\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Get flaky tests for a project
    # Get a list of flaky tests for a given project. Flaky tests are branch agnostic.               A flaky test is a test that passed and faliled in the same commit.
    # @param project_slug Project slug in the form &#x60;vcs-slug/org-name/repo-name&#x60;. The &#x60;/&#x60; characters may be URL-escaped.
    # @param [Hash] opts the optional parameters
    # @return [InlineResponse2006]
    def get_flaky_tests(project_slug, opts = {})
      data, _status_code, _headers = get_flaky_tests_with_http_info(project_slug, opts)
      data
    end

    # Get flaky tests for a project
    # Get a list of flaky tests for a given project. Flaky tests are branch agnostic.               A flaky test is a test that passed and faliled in the same commit.
    # @param project_slug Project slug in the form &#x60;vcs-slug/org-name/repo-name&#x60;. The &#x60;/&#x60; characters may be URL-escaped.
    # @param [Hash] opts the optional parameters
    # @return [Array<(InlineResponse2006, Integer, Hash)>] InlineResponse2006 data, response status code and response headers
    def get_flaky_tests_with_http_info(project_slug, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: InsightsApi.get_flaky_tests ...'
      end
      # verify the required parameter 'project_slug' is set
      if @api_client.config.client_side_validation && project_slug.nil?
        fail ArgumentError, "Missing the required parameter 'project_slug' when calling InsightsApi.get_flaky_tests"
      end
      # resource path
      local_var_path = '/insights/{project-slug}/flaky-tests'.sub('{' + 'project-slug' + '}', project_slug.to_s)

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:body] 

      return_type = opts[:return_type] || 'InlineResponse2006' 

      auth_names = opts[:auth_names] || ['api_key_header', 'api_key_query', 'basic_auth']
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type)

      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: InsightsApi#get_flaky_tests\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Job timeseries data
    # Get timeseries data for all jobs within a workflow.
    # @param project_slug Project slug in the form &#x60;vcs-slug/org-name/repo-name&#x60;. The &#x60;/&#x60; characters may be URL-escaped.
    # @param workflow_name The name of the workflow.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :branch The name of a vcs branch. If not passed we will scope the API call to the default branch.
    # @option opts [String] :timeseries_granularity The granularity for which to query timeseries data.
    # @option opts [DateTime] :start_date Include only executions that started at or after this date. This must be specified if an end-date is provided.
    # @option opts [DateTime] :end_date Include only executions that started before this date. This date can be at most 90 days after the start-date.
    # @return [InlineResponse2004]
    def get_job_timeseries(project_slug, workflow_name, opts = {})
      data, _status_code, _headers = get_job_timeseries_with_http_info(project_slug, workflow_name, opts)
      data
    end

    # Job timeseries data
    # Get timeseries data for all jobs within a workflow.
    # @param project_slug Project slug in the form &#x60;vcs-slug/org-name/repo-name&#x60;. The &#x60;/&#x60; characters may be URL-escaped.
    # @param workflow_name The name of the workflow.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :branch The name of a vcs branch. If not passed we will scope the API call to the default branch.
    # @option opts [String] :timeseries_granularity The granularity for which to query timeseries data.
    # @option opts [DateTime] :start_date Include only executions that started at or after this date. This must be specified if an end-date is provided.
    # @option opts [DateTime] :end_date Include only executions that started before this date. This date can be at most 90 days after the start-date.
    # @return [Array<(InlineResponse2004, Integer, Hash)>] InlineResponse2004 data, response status code and response headers
    def get_job_timeseries_with_http_info(project_slug, workflow_name, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: InsightsApi.get_job_timeseries ...'
      end
      # verify the required parameter 'project_slug' is set
      if @api_client.config.client_side_validation && project_slug.nil?
        fail ArgumentError, "Missing the required parameter 'project_slug' when calling InsightsApi.get_job_timeseries"
      end
      # verify the required parameter 'workflow_name' is set
      if @api_client.config.client_side_validation && workflow_name.nil?
        fail ArgumentError, "Missing the required parameter 'workflow_name' when calling InsightsApi.get_job_timeseries"
      end
      if @api_client.config.client_side_validation && opts[:'timeseries_granularity'] && !['daily', 'hourly'].include?(opts[:'timeseries_granularity'])
        fail ArgumentError, 'invalid value for "timeseries_granularity", must be one of daily, hourly'
      end
      # resource path
      local_var_path = '/insights/time-series/{project-slug}/workflows/{workflow-name}/jobs'.sub('{' + 'project-slug' + '}', project_slug.to_s).sub('{' + 'workflow-name' + '}', workflow_name.to_s)

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'branch'] = opts[:'branch'] if !opts[:'branch'].nil?
      query_params[:'timeseries-granularity'] = opts[:'timeseries_granularity'] if !opts[:'timeseries_granularity'].nil?
      query_params[:'start-date'] = opts[:'start_date'] if !opts[:'start_date'].nil?
      query_params[:'end-date'] = opts[:'end_date'] if !opts[:'end_date'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:body] 

      return_type = opts[:return_type] || 'InlineResponse2004' 

      auth_names = opts[:auth_names] || ['api_key_header', 'api_key_query', 'basic_auth']
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type)

      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: InsightsApi#get_job_timeseries\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Get summary metrics with trends for the entire org, and for each project.
    # Gets aggregated summary metrics with trends for the entire org.                Also gets aggregated metrics and trends for each project belonging to the org.
    # @param org_slug Org slug in the form &#x60;vcs-slug/org-name&#x60;. The &#x60;/&#x60; characters may be URL-escaped.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :reporting_window The time window used to calculate summary metrics.
    # @option opts [Object] :project_names List of project names.
    # @return [InlineResponse2005]
    def get_org_summary_data(org_slug, opts = {})
      data, _status_code, _headers = get_org_summary_data_with_http_info(org_slug, opts)
      data
    end

    # Get summary metrics with trends for the entire org, and for each project.
    # Gets aggregated summary metrics with trends for the entire org.                Also gets aggregated metrics and trends for each project belonging to the org.
    # @param org_slug Org slug in the form &#x60;vcs-slug/org-name&#x60;. The &#x60;/&#x60; characters may be URL-escaped.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :reporting_window The time window used to calculate summary metrics.
    # @option opts [Object] :project_names List of project names.
    # @return [Array<(InlineResponse2005, Integer, Hash)>] InlineResponse2005 data, response status code and response headers
    def get_org_summary_data_with_http_info(org_slug, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: InsightsApi.get_org_summary_data ...'
      end
      # verify the required parameter 'org_slug' is set
      if @api_client.config.client_side_validation && org_slug.nil?
        fail ArgumentError, "Missing the required parameter 'org_slug' when calling InsightsApi.get_org_summary_data"
      end
      if @api_client.config.client_side_validation && opts[:'reporting_window'] && !['last-7-days', 'last-90-days', 'last-24-hours', 'last-30-days', 'last-60-days'].include?(opts[:'reporting_window'])
        fail ArgumentError, 'invalid value for "reporting_window", must be one of last-7-days, last-90-days, last-24-hours, last-30-days, last-60-days'
      end
      # resource path
      local_var_path = '/insights/{org-slug}/summary'.sub('{' + 'org-slug' + '}', org_slug.to_s)

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'reporting-window'] = opts[:'reporting_window'] if !opts[:'reporting_window'].nil?
      query_params[:'project-names'] = opts[:'project_names'] if !opts[:'project_names'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:body] 

      return_type = opts[:return_type] || 'InlineResponse2005' 

      auth_names = opts[:auth_names] || ['api_key_header', 'api_key_query', 'basic_auth']
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type)

      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: InsightsApi#get_org_summary_data\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Get recent runs of a workflow job
    # Get recent runs of a job within a workflow. Runs going back at most 90 days are returned. Please note that Insights is not a real time financial reporting tool and should not be used for credit reporting. The most up to date credit information can be found in Plan Overview in the CircleCI UI.
    # @param project_slug Project slug in the form &#x60;vcs-slug/org-name/repo-name&#x60;. The &#x60;/&#x60; characters may be URL-escaped.
    # @param workflow_name The name of the workflow.
    # @param job_name The name of the job.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :branch The name of a vcs branch. If not passed we will scope the API call to the default branch.     Note - Querying all branches is not supported yet.
    # @option opts [String] :page_token A token to retrieve the next page of results.
    # @option opts [DateTime] :start_date Include only executions that started at or after this date. This must be specified if an end-date is provided.
    # @option opts [DateTime] :end_date Include only executions that started before this date. This date can be at most 90 days after the start-date.
    # @return [InlineResponse20010]
    def get_project_job_runs(project_slug, workflow_name, job_name, opts = {})
      data, _status_code, _headers = get_project_job_runs_with_http_info(project_slug, workflow_name, job_name, opts)
      data
    end

    # Get recent runs of a workflow job
    # Get recent runs of a job within a workflow. Runs going back at most 90 days are returned. Please note that Insights is not a real time financial reporting tool and should not be used for credit reporting. The most up to date credit information can be found in Plan Overview in the CircleCI UI.
    # @param project_slug Project slug in the form &#x60;vcs-slug/org-name/repo-name&#x60;. The &#x60;/&#x60; characters may be URL-escaped.
    # @param workflow_name The name of the workflow.
    # @param job_name The name of the job.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :branch The name of a vcs branch. If not passed we will scope the API call to the default branch.     Note - Querying all branches is not supported yet.
    # @option opts [String] :page_token A token to retrieve the next page of results.
    # @option opts [DateTime] :start_date Include only executions that started at or after this date. This must be specified if an end-date is provided.
    # @option opts [DateTime] :end_date Include only executions that started before this date. This date can be at most 90 days after the start-date.
    # @return [Array<(InlineResponse20010, Integer, Hash)>] InlineResponse20010 data, response status code and response headers
    def get_project_job_runs_with_http_info(project_slug, workflow_name, job_name, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: InsightsApi.get_project_job_runs ...'
      end
      # verify the required parameter 'project_slug' is set
      if @api_client.config.client_side_validation && project_slug.nil?
        fail ArgumentError, "Missing the required parameter 'project_slug' when calling InsightsApi.get_project_job_runs"
      end
      # verify the required parameter 'workflow_name' is set
      if @api_client.config.client_side_validation && workflow_name.nil?
        fail ArgumentError, "Missing the required parameter 'workflow_name' when calling InsightsApi.get_project_job_runs"
      end
      # verify the required parameter 'job_name' is set
      if @api_client.config.client_side_validation && job_name.nil?
        fail ArgumentError, "Missing the required parameter 'job_name' when calling InsightsApi.get_project_job_runs"
      end
      # resource path
      local_var_path = '/insights/{project-slug}/workflows/{workflow-name}/jobs/{job-name}'.sub('{' + 'project-slug' + '}', project_slug.to_s).sub('{' + 'workflow-name' + '}', workflow_name.to_s).sub('{' + 'job-name' + '}', job_name.to_s)

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'branch'] = opts[:'branch'] if !opts[:'branch'].nil?
      query_params[:'page-token'] = opts[:'page_token'] if !opts[:'page_token'].nil?
      query_params[:'start-date'] = opts[:'start_date'] if !opts[:'start_date'].nil?
      query_params[:'end-date'] = opts[:'end_date'] if !opts[:'end_date'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:body] 

      return_type = opts[:return_type] || 'InlineResponse20010' 

      auth_names = opts[:auth_names] || ['api_key_header', 'api_key_query', 'basic_auth']
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type)

      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: InsightsApi#get_project_job_runs\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Get summary metrics for a project workflow's jobs.
    # Get summary metrics for a project workflow's jobs. Job runs going back at most 90 days are included in the aggregation window. Metrics are refreshed daily, and thus may not include executions from the last 24 hours. Please note that Insights is not a real time financial reporting tool and should not be used for credit reporting. The most up to date credit information can be found in Plan Overview in the CircleCI UI.
    # @param project_slug Project slug in the form &#x60;vcs-slug/org-name/repo-name&#x60;. The &#x60;/&#x60; characters may be URL-escaped.
    # @param workflow_name The name of the workflow.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :page_token A token to retrieve the next page of results.
    # @option opts [BOOLEAN] :all_branches Whether to retrieve data for all branches combined. Use either this parameter OR the branch name parameter.
    # @option opts [String] :branch The name of a vcs branch. If not passed we will scope the API call to the default branch.
    # @option opts [String] :reporting_window The time window used to calculate summary metrics.
    # @return [InlineResponse2009]
    def get_project_workflow_job_metrics(project_slug, workflow_name, opts = {})
      data, _status_code, _headers = get_project_workflow_job_metrics_with_http_info(project_slug, workflow_name, opts)
      data
    end

    # Get summary metrics for a project workflow&#x27;s jobs.
    # Get summary metrics for a project workflow&#x27;s jobs. Job runs going back at most 90 days are included in the aggregation window. Metrics are refreshed daily, and thus may not include executions from the last 24 hours. Please note that Insights is not a real time financial reporting tool and should not be used for credit reporting. The most up to date credit information can be found in Plan Overview in the CircleCI UI.
    # @param project_slug Project slug in the form &#x60;vcs-slug/org-name/repo-name&#x60;. The &#x60;/&#x60; characters may be URL-escaped.
    # @param workflow_name The name of the workflow.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :page_token A token to retrieve the next page of results.
    # @option opts [BOOLEAN] :all_branches Whether to retrieve data for all branches combined. Use either this parameter OR the branch name parameter.
    # @option opts [String] :branch The name of a vcs branch. If not passed we will scope the API call to the default branch.
    # @option opts [String] :reporting_window The time window used to calculate summary metrics.
    # @return [Array<(InlineResponse2009, Integer, Hash)>] InlineResponse2009 data, response status code and response headers
    def get_project_workflow_job_metrics_with_http_info(project_slug, workflow_name, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: InsightsApi.get_project_workflow_job_metrics ...'
      end
      # verify the required parameter 'project_slug' is set
      if @api_client.config.client_side_validation && project_slug.nil?
        fail ArgumentError, "Missing the required parameter 'project_slug' when calling InsightsApi.get_project_workflow_job_metrics"
      end
      # verify the required parameter 'workflow_name' is set
      if @api_client.config.client_side_validation && workflow_name.nil?
        fail ArgumentError, "Missing the required parameter 'workflow_name' when calling InsightsApi.get_project_workflow_job_metrics"
      end
      if @api_client.config.client_side_validation && opts[:'reporting_window'] && !['last-7-days', 'last-90-days', 'last-24-hours', 'last-30-days', 'last-60-days'].include?(opts[:'reporting_window'])
        fail ArgumentError, 'invalid value for "reporting_window", must be one of last-7-days, last-90-days, last-24-hours, last-30-days, last-60-days'
      end
      # resource path
      local_var_path = '/insights/{project-slug}/workflows/{workflow-name}/jobs'.sub('{' + 'project-slug' + '}', project_slug.to_s).sub('{' + 'workflow-name' + '}', workflow_name.to_s)

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'page-token'] = opts[:'page_token'] if !opts[:'page_token'].nil?
      query_params[:'all-branches'] = opts[:'all_branches'] if !opts[:'all_branches'].nil?
      query_params[:'branch'] = opts[:'branch'] if !opts[:'branch'].nil?
      query_params[:'reporting-window'] = opts[:'reporting_window'] if !opts[:'reporting_window'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:body] 

      return_type = opts[:return_type] || 'InlineResponse2009' 

      auth_names = opts[:auth_names] || ['api_key_header', 'api_key_query', 'basic_auth']
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type)

      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: InsightsApi#get_project_workflow_job_metrics\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Get summary metrics for a project's workflows
    # Get summary metrics for a project's workflows. Workflow runs going back at most 90 days are included in the aggregation window. Metrics are refreshed daily, and thus may not include executions from the last 24 hours. Please note that Insights is not a real time financial reporting tool and should not be used for credit reporting. The most up to date credit information can be found in Plan Overview in the CircleCI UI.
    # @param project_slug Project slug in the form &#x60;vcs-slug/org-name/repo-name&#x60;. The &#x60;/&#x60; characters may be URL-escaped.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :page_token A token to retrieve the next page of results.
    # @option opts [BOOLEAN] :all_branches Whether to retrieve data for all branches combined. Use either this parameter OR the branch name parameter.
    # @option opts [String] :branch The name of a vcs branch. If not passed we will scope the API call to the default branch.
    # @option opts [String] :reporting_window The time window used to calculate summary metrics.
    # @return [InlineResponse2007]
    def get_project_workflow_metrics(project_slug, opts = {})
      data, _status_code, _headers = get_project_workflow_metrics_with_http_info(project_slug, opts)
      data
    end

    # Get summary metrics for a project&#x27;s workflows
    # Get summary metrics for a project&#x27;s workflows. Workflow runs going back at most 90 days are included in the aggregation window. Metrics are refreshed daily, and thus may not include executions from the last 24 hours. Please note that Insights is not a real time financial reporting tool and should not be used for credit reporting. The most up to date credit information can be found in Plan Overview in the CircleCI UI.
    # @param project_slug Project slug in the form &#x60;vcs-slug/org-name/repo-name&#x60;. The &#x60;/&#x60; characters may be URL-escaped.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :page_token A token to retrieve the next page of results.
    # @option opts [BOOLEAN] :all_branches Whether to retrieve data for all branches combined. Use either this parameter OR the branch name parameter.
    # @option opts [String] :branch The name of a vcs branch. If not passed we will scope the API call to the default branch.
    # @option opts [String] :reporting_window The time window used to calculate summary metrics.
    # @return [Array<(InlineResponse2007, Integer, Hash)>] InlineResponse2007 data, response status code and response headers
    def get_project_workflow_metrics_with_http_info(project_slug, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: InsightsApi.get_project_workflow_metrics ...'
      end
      # verify the required parameter 'project_slug' is set
      if @api_client.config.client_side_validation && project_slug.nil?
        fail ArgumentError, "Missing the required parameter 'project_slug' when calling InsightsApi.get_project_workflow_metrics"
      end
      if @api_client.config.client_side_validation && opts[:'reporting_window'] && !['last-7-days', 'last-90-days', 'last-24-hours', 'last-30-days', 'last-60-days'].include?(opts[:'reporting_window'])
        fail ArgumentError, 'invalid value for "reporting_window", must be one of last-7-days, last-90-days, last-24-hours, last-30-days, last-60-days'
      end
      # resource path
      local_var_path = '/insights/{project-slug}/workflows'.sub('{' + 'project-slug' + '}', project_slug.to_s)

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'page-token'] = opts[:'page_token'] if !opts[:'page_token'].nil?
      query_params[:'all-branches'] = opts[:'all_branches'] if !opts[:'all_branches'].nil?
      query_params[:'branch'] = opts[:'branch'] if !opts[:'branch'].nil?
      query_params[:'reporting-window'] = opts[:'reporting_window'] if !opts[:'reporting_window'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:body] 

      return_type = opts[:return_type] || 'InlineResponse2007' 

      auth_names = opts[:auth_names] || ['api_key_header', 'api_key_query', 'basic_auth']
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type)

      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: InsightsApi#get_project_workflow_metrics\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Get recent runs of a workflow
    # Get recent runs of a workflow. Runs going back at most 90 days are returned. Please note that Insights is not a real time financial reporting tool and should not be used for credit reporting. The most up to date credit information can be found in Plan Overview in the CircleCI UI.
    # @param project_slug Project slug in the form &#x60;vcs-slug/org-name/repo-name&#x60;. The &#x60;/&#x60; characters may be URL-escaped.
    # @param workflow_name The name of the workflow.
    # @param [Hash] opts the optional parameters
    # @option opts [BOOLEAN] :all_branches Whether to retrieve data for all branches combined. Use either this parameter OR the branch name parameter.
    # @option opts [String] :branch The name of a vcs branch. If not passed we will scope the API call to the default branch.
    # @option opts [String] :page_token A token to retrieve the next page of results.
    # @option opts [DateTime] :start_date Include only executions that started at or after this date. This must be specified if an end-date is provided.
    # @option opts [DateTime] :end_date Include only executions that started before this date. This date can be at most 90 days after the start-date.
    # @return [InlineResponse2008]
    def get_project_workflow_runs(project_slug, workflow_name, opts = {})
      data, _status_code, _headers = get_project_workflow_runs_with_http_info(project_slug, workflow_name, opts)
      data
    end

    # Get recent runs of a workflow
    # Get recent runs of a workflow. Runs going back at most 90 days are returned. Please note that Insights is not a real time financial reporting tool and should not be used for credit reporting. The most up to date credit information can be found in Plan Overview in the CircleCI UI.
    # @param project_slug Project slug in the form &#x60;vcs-slug/org-name/repo-name&#x60;. The &#x60;/&#x60; characters may be URL-escaped.
    # @param workflow_name The name of the workflow.
    # @param [Hash] opts the optional parameters
    # @option opts [BOOLEAN] :all_branches Whether to retrieve data for all branches combined. Use either this parameter OR the branch name parameter.
    # @option opts [String] :branch The name of a vcs branch. If not passed we will scope the API call to the default branch.
    # @option opts [String] :page_token A token to retrieve the next page of results.
    # @option opts [DateTime] :start_date Include only executions that started at or after this date. This must be specified if an end-date is provided.
    # @option opts [DateTime] :end_date Include only executions that started before this date. This date can be at most 90 days after the start-date.
    # @return [Array<(InlineResponse2008, Integer, Hash)>] InlineResponse2008 data, response status code and response headers
    def get_project_workflow_runs_with_http_info(project_slug, workflow_name, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: InsightsApi.get_project_workflow_runs ...'
      end
      # verify the required parameter 'project_slug' is set
      if @api_client.config.client_side_validation && project_slug.nil?
        fail ArgumentError, "Missing the required parameter 'project_slug' when calling InsightsApi.get_project_workflow_runs"
      end
      # verify the required parameter 'workflow_name' is set
      if @api_client.config.client_side_validation && workflow_name.nil?
        fail ArgumentError, "Missing the required parameter 'workflow_name' when calling InsightsApi.get_project_workflow_runs"
      end
      # resource path
      local_var_path = '/insights/{project-slug}/workflows/{workflow-name}'.sub('{' + 'project-slug' + '}', project_slug.to_s).sub('{' + 'workflow-name' + '}', workflow_name.to_s)

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'all-branches'] = opts[:'all_branches'] if !opts[:'all_branches'].nil?
      query_params[:'branch'] = opts[:'branch'] if !opts[:'branch'].nil?
      query_params[:'page-token'] = opts[:'page_token'] if !opts[:'page_token'].nil?
      query_params[:'start-date'] = opts[:'start_date'] if !opts[:'start_date'].nil?
      query_params[:'end-date'] = opts[:'end_date'] if !opts[:'end_date'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:body] 

      return_type = opts[:return_type] || 'InlineResponse2008' 

      auth_names = opts[:auth_names] || ['api_key_header', 'api_key_query', 'basic_auth']
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type)

      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: InsightsApi#get_project_workflow_runs\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Get test metrics for a project's workflows
    # Get test metrics for a project's workflows. Currently tests metrics are calculated based on 10 most recent workflow runs.
    # @param project_slug Project slug in the form &#x60;vcs-slug/org-name/repo-name&#x60;. The &#x60;/&#x60; characters may be URL-escaped.
    # @param workflow_name The name of the workflow.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :branch The name of a vcs branch. If not passed we will scope the API call to the default branch.
    # @option opts [BOOLEAN] :all_branches Whether to retrieve data for all branches combined. Use either this parameter OR the branch name parameter.
    # @return [InlineResponse20012]
    def get_project_workflow_test_metrics(project_slug, workflow_name, opts = {})
      data, _status_code, _headers = get_project_workflow_test_metrics_with_http_info(project_slug, workflow_name, opts)
      data
    end

    # Get test metrics for a project&#x27;s workflows
    # Get test metrics for a project&#x27;s workflows. Currently tests metrics are calculated based on 10 most recent workflow runs.
    # @param project_slug Project slug in the form &#x60;vcs-slug/org-name/repo-name&#x60;. The &#x60;/&#x60; characters may be URL-escaped.
    # @param workflow_name The name of the workflow.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :branch The name of a vcs branch. If not passed we will scope the API call to the default branch.
    # @option opts [BOOLEAN] :all_branches Whether to retrieve data for all branches combined. Use either this parameter OR the branch name parameter.
    # @return [Array<(InlineResponse20012, Integer, Hash)>] InlineResponse20012 data, response status code and response headers
    def get_project_workflow_test_metrics_with_http_info(project_slug, workflow_name, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: InsightsApi.get_project_workflow_test_metrics ...'
      end
      # verify the required parameter 'project_slug' is set
      if @api_client.config.client_side_validation && project_slug.nil?
        fail ArgumentError, "Missing the required parameter 'project_slug' when calling InsightsApi.get_project_workflow_test_metrics"
      end
      # verify the required parameter 'workflow_name' is set
      if @api_client.config.client_side_validation && workflow_name.nil?
        fail ArgumentError, "Missing the required parameter 'workflow_name' when calling InsightsApi.get_project_workflow_test_metrics"
      end
      # resource path
      local_var_path = '/insights/{project-slug}/workflows/{workflow-name}/test-metrics'.sub('{' + 'project-slug' + '}', project_slug.to_s).sub('{' + 'workflow-name' + '}', workflow_name.to_s)

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'branch'] = opts[:'branch'] if !opts[:'branch'].nil?
      query_params[:'all-branches'] = opts[:'all_branches'] if !opts[:'all_branches'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:body] 

      return_type = opts[:return_type] || 'InlineResponse20012' 

      auth_names = opts[:auth_names] || ['api_key_header', 'api_key_query', 'basic_auth']
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type)

      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: InsightsApi#get_project_workflow_test_metrics\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Get summary metrics and trends for a project across it's workflows and branches
    # Get summary metrics and trends for a project at workflow and branch level.               Workflow runs going back at most 90 days are included in the aggregation window.               Trends are only supported upto last 30 days.               Metrics are refreshed daily, and thus may not include executions from the last 24 hours.               Please note that Insights is not a real time financial reporting tool and should not be used for credit reporting.               The most up to date credit information can be found in Plan Overview in the CircleCI UI.
    # @param project_slug Project slug in the form &#x60;vcs-slug/org-name/repo-name&#x60;. The &#x60;/&#x60; characters may be URL-escaped.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :reporting_window The time window used to calculate summary metrics.
    # @option opts [Object] :branches The names of VCS branches to include in branch-level workflow metrics.
    # @option opts [Object] :workflow_names The names of workflows to include in workflow-level metrics.
    # @return [InlineResponse2003]
    def get_project_workflows_page_data(project_slug, opts = {})
      data, _status_code, _headers = get_project_workflows_page_data_with_http_info(project_slug, opts)
      data
    end

    # Get summary metrics and trends for a project across it&#x27;s workflows and branches
    # Get summary metrics and trends for a project at workflow and branch level.               Workflow runs going back at most 90 days are included in the aggregation window.               Trends are only supported upto last 30 days.               Metrics are refreshed daily, and thus may not include executions from the last 24 hours.               Please note that Insights is not a real time financial reporting tool and should not be used for credit reporting.               The most up to date credit information can be found in Plan Overview in the CircleCI UI.
    # @param project_slug Project slug in the form &#x60;vcs-slug/org-name/repo-name&#x60;. The &#x60;/&#x60; characters may be URL-escaped.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :reporting_window The time window used to calculate summary metrics.
    # @option opts [Object] :branches The names of VCS branches to include in branch-level workflow metrics.
    # @option opts [Object] :workflow_names The names of workflows to include in workflow-level metrics.
    # @return [Array<(InlineResponse2003, Integer, Hash)>] InlineResponse2003 data, response status code and response headers
    def get_project_workflows_page_data_with_http_info(project_slug, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: InsightsApi.get_project_workflows_page_data ...'
      end
      # verify the required parameter 'project_slug' is set
      if @api_client.config.client_side_validation && project_slug.nil?
        fail ArgumentError, "Missing the required parameter 'project_slug' when calling InsightsApi.get_project_workflows_page_data"
      end
      if @api_client.config.client_side_validation && opts[:'reporting_window'] && !['last-7-days', 'last-90-days', 'last-24-hours', 'last-30-days', 'last-60-days'].include?(opts[:'reporting_window'])
        fail ArgumentError, 'invalid value for "reporting_window", must be one of last-7-days, last-90-days, last-24-hours, last-30-days, last-60-days'
      end
      # resource path
      local_var_path = '/insights/pages/{project-slug}/summary'.sub('{' + 'project-slug' + '}', project_slug.to_s)

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'reporting-window'] = opts[:'reporting_window'] if !opts[:'reporting_window'].nil?
      query_params[:'branches'] = opts[:'branches'] if !opts[:'branches'].nil?
      query_params[:'workflow-names'] = opts[:'workflow_names'] if !opts[:'workflow_names'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:body] 

      return_type = opts[:return_type] || 'InlineResponse2003' 

      auth_names = opts[:auth_names] || ['api_key_header', 'api_key_query', 'basic_auth']
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type)

      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: InsightsApi#get_project_workflows_page_data\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Get metrics and trends for workflows
    # Get the metrics and trends for a particular workflow on a single branch or all branches
    # @param project_slug Project slug in the form &#x60;vcs-slug/org-name/repo-name&#x60;. The &#x60;/&#x60; characters may be URL-escaped.
    # @param workflow_name The name of the workflow.
    # @param [Hash] opts the optional parameters
    # @option opts [BOOLEAN] :all_branches Whether to retrieve data for all branches combined. Use either this parameter OR the branch name parameter.
    # @option opts [Object] :branches The names of VCS branches to include in branch-level workflow metrics.
    # @return [InlineResponse20011]
    def get_workflow_summary(project_slug, workflow_name, opts = {})
      data, _status_code, _headers = get_workflow_summary_with_http_info(project_slug, workflow_name, opts)
      data
    end

    # Get metrics and trends for workflows
    # Get the metrics and trends for a particular workflow on a single branch or all branches
    # @param project_slug Project slug in the form &#x60;vcs-slug/org-name/repo-name&#x60;. The &#x60;/&#x60; characters may be URL-escaped.
    # @param workflow_name The name of the workflow.
    # @param [Hash] opts the optional parameters
    # @option opts [BOOLEAN] :all_branches Whether to retrieve data for all branches combined. Use either this parameter OR the branch name parameter.
    # @option opts [Object] :branches The names of VCS branches to include in branch-level workflow metrics.
    # @return [Array<(InlineResponse20011, Integer, Hash)>] InlineResponse20011 data, response status code and response headers
    def get_workflow_summary_with_http_info(project_slug, workflow_name, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: InsightsApi.get_workflow_summary ...'
      end
      # verify the required parameter 'project_slug' is set
      if @api_client.config.client_side_validation && project_slug.nil?
        fail ArgumentError, "Missing the required parameter 'project_slug' when calling InsightsApi.get_workflow_summary"
      end
      # verify the required parameter 'workflow_name' is set
      if @api_client.config.client_side_validation && workflow_name.nil?
        fail ArgumentError, "Missing the required parameter 'workflow_name' when calling InsightsApi.get_workflow_summary"
      end
      # resource path
      local_var_path = '/insights/{project-slug}/workflows/{workflow-name}/summary'.sub('{' + 'project-slug' + '}', project_slug.to_s).sub('{' + 'workflow-name' + '}', workflow_name.to_s)

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'all-branches'] = opts[:'all_branches'] if !opts[:'all_branches'].nil?
      query_params[:'branches'] = opts[:'branches'] if !opts[:'branches'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:body] 

      return_type = opts[:return_type] || 'InlineResponse20011' 

      auth_names = opts[:auth_names] || ['api_key_header', 'api_key_query', 'basic_auth']
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type)

      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: InsightsApi#get_workflow_summary\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Workflow timeseries data
    # If no query parameters are supplied, will return timeseries data for all workflows that have ran on the default branch.                                          When granularity is `hourly`, up to 48 hours of timeseries data will be returned. When granularity is `daily`, up to 90 days of timeseries data will be returned.                                         Different combinations of branches and workflow-names can narrow the query further:                * All workflows, default branch (default, no query parameters)                           * All workflows, all branches: `all-branches=true`              * All workflows on specific branch: `branch=feature-branch`              * A specified workflow, all branches: `workflow-name=build&all-branches=true`,               * A specified branch on a specified workflow: `workflow-name=build&branch=feature-branch`
    # @param project_slug Project slug in the form &#x60;vcs-slug/org-name/repo-name&#x60;. The &#x60;/&#x60; characters may be URL-escaped.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :branch The name of a vcs branch. If not passed we will scope the API call to the default branch.
    # @option opts [BOOLEAN] :all_branches Whether to retrieve data for all branches combined. Use either this parameter OR the branch name parameter.
    # @option opts [String] :timeseries_granularity The granularity for which to query timeseries data.
    # @option opts [String] :workflow_name The name of a workflow. If not passed we will scope the API call to the project.
    # @option opts [DateTime] :start_date Include only executions that started at or after this date. This must be specified if an end-date is provided.
    # @option opts [DateTime] :end_date Include only executions that started before this date. This date can be at most 90 days after the start-date.
    # @return [InlineResponse2004]
    def get_workflow_timeseries(project_slug, opts = {})
      data, _status_code, _headers = get_workflow_timeseries_with_http_info(project_slug, opts)
      data
    end

    # Workflow timeseries data
    # If no query parameters are supplied, will return timeseries data for all workflows that have ran on the default branch.                                          When granularity is &#x60;hourly&#x60;, up to 48 hours of timeseries data will be returned. When granularity is &#x60;daily&#x60;, up to 90 days of timeseries data will be returned.                                         Different combinations of branches and workflow-names can narrow the query further:                * All workflows, default branch (default, no query parameters)                           * All workflows, all branches: &#x60;all-branches&#x3D;true&#x60;              * All workflows on specific branch: &#x60;branch&#x3D;feature-branch&#x60;              * A specified workflow, all branches: &#x60;workflow-name&#x3D;build&amp;all-branches&#x3D;true&#x60;,               * A specified branch on a specified workflow: &#x60;workflow-name&#x3D;build&amp;branch&#x3D;feature-branch&#x60;
    # @param project_slug Project slug in the form &#x60;vcs-slug/org-name/repo-name&#x60;. The &#x60;/&#x60; characters may be URL-escaped.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :branch The name of a vcs branch. If not passed we will scope the API call to the default branch.
    # @option opts [BOOLEAN] :all_branches Whether to retrieve data for all branches combined. Use either this parameter OR the branch name parameter.
    # @option opts [String] :timeseries_granularity The granularity for which to query timeseries data.
    # @option opts [String] :workflow_name The name of a workflow. If not passed we will scope the API call to the project.
    # @option opts [DateTime] :start_date Include only executions that started at or after this date. This must be specified if an end-date is provided.
    # @option opts [DateTime] :end_date Include only executions that started before this date. This date can be at most 90 days after the start-date.
    # @return [Array<(InlineResponse2004, Integer, Hash)>] InlineResponse2004 data, response status code and response headers
    def get_workflow_timeseries_with_http_info(project_slug, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: InsightsApi.get_workflow_timeseries ...'
      end
      # verify the required parameter 'project_slug' is set
      if @api_client.config.client_side_validation && project_slug.nil?
        fail ArgumentError, "Missing the required parameter 'project_slug' when calling InsightsApi.get_workflow_timeseries"
      end
      if @api_client.config.client_side_validation && opts[:'timeseries_granularity'] && !['daily', 'hourly'].include?(opts[:'timeseries_granularity'])
        fail ArgumentError, 'invalid value for "timeseries_granularity", must be one of daily, hourly'
      end
      # resource path
      local_var_path = '/insights/time-series/{project-slug}/workflows'.sub('{' + 'project-slug' + '}', project_slug.to_s)

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'branch'] = opts[:'branch'] if !opts[:'branch'].nil?
      query_params[:'all-branches'] = opts[:'all_branches'] if !opts[:'all_branches'].nil?
      query_params[:'timeseries-granularity'] = opts[:'timeseries_granularity'] if !opts[:'timeseries_granularity'].nil?
      query_params[:'workflow-name'] = opts[:'workflow_name'] if !opts[:'workflow_name'].nil?
      query_params[:'start-date'] = opts[:'start_date'] if !opts[:'start_date'].nil?
      query_params[:'end-date'] = opts[:'end_date'] if !opts[:'end_date'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:body] 

      return_type = opts[:return_type] || 'InlineResponse2004' 

      auth_names = opts[:auth_names] || ['api_key_header', 'api_key_query', 'basic_auth']
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type)

      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: InsightsApi#get_workflow_timeseries\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
